* {
  outline: none;

}
:root {
  --theme-one:#7e2ffa;
  --theme-two:#f8b53a;
  --theme-three:#f94260;
  --theme-four:#2f405a;
}



.container {
  width: 100%;
  margin: 0 auto 0;
  perspective: 1000;
  backface-visibility: hidden;
}

.button_margin {
  margin:1ex !important;
}

.pulse-button {
  margin: auto;
  position: relative;
  display: block;
  width: 80%;
  height: 100px;
  font-size: 1.3em;
  font-weight: light;
  text-transform: uppercase;
  text-align: center;
  line-height: 100px;
  letter-spacing: -1px;
  color: white;
  border: none;
  border-radius: 2em;
  background: var(--theme-three);
  cursor: pointer;
  box-shadow: 0 0 0 0 rgba(#f94260, .5);
  animation: pulse 1.5s infinite;
}
.pulse-button:hover {
  background: var(--theme-one);
  
}

@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(249, 66, 96, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(249, 66, 96, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(249, 66, 96, 0);
	}
}
.left_al {
  text-align: left;
  margin: 3ex;
}

html, body {
    height: 100%;
    background-color: var(--theme-two);
    font-family: 'Proxima Nova';
}
#langs_form {
  margin: auto;
  height: 120pt;
}

#langs_form label {
  float: left;
  font-size: 20px;
}


.main_block iframe {
  margin: auto;
  width: 80%;
  display: block;
  overflow: hidden;
}

.main_block {
  margin: auto;
  margin-top: 1%;
    padding: 3ex;
    background-color: white;
    border-radius: 2em;
    text-align: center;
    position:relative;
    -webkit-box-shadow: 0 10px 6px -6px #696969;
    -moz-box-shadow: 0 10px 6px -6px #696969;
         box-shadow: 0 10px 6px -6px #696969;

}
.vid {
  margin-top: 2em;
}

.bubble {
    padding: 1ex;
    padding-left: 2ex;
    padding-right: 2ex;
    margin-right: 1ex;
    background-color: white;
    border-radius: 2em;
    text-align: center;
    position:relative;
    -webkit-box-shadow: 0 10px 6px -6px #696969;
    -moz-box-shadow: 0 10px 6px -6px #696969;
         box-shadow: 0 10px 6px -6px #696969;
}

.illustration {
    width: 50%;
}

.top {
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: row;
    display: inline-block;
    

}

#nicknames {
  width: 100%;
  outline: none;
  margin-top: 1ex;

}
.roles_card {
    height: 100%;
    padding: 3ex;
    width: 100%;
    border-radius: 2em;
    text-align: left;
    color: white;
    background-color:var(--theme-four);

    -webkit-box-shadow: 0 10px 6px -6px #696969;
    -moz-box-shadow: 0 10px 6px -6px #696969;
         box-shadow: 0 10px 6px -6px #696969;
}
.roles_card h4 {
  color: var(--theme-two);
}
.roles {
  margin: auto;
  margin-top: 1%;
    padding: 3ex;
    border-radius: 2em;
    position:relative;
    background-color:var(--theme-four);
    border-radius: 2em;
    text-align: left;
    color: white;
    -webkit-box-shadow: 0 10px 6px -6px #696969;
    -moz-box-shadow: 0 10px 6px -6px #696969;
         box-shadow: 0 10px 6px -6px #696969;
}

.controls {
    flex: 1;
    padding: 2ex;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: row;
    float: right;

}
.card_logo {
  margin: 5px;
  flex: 1;
  padding-left: 2ex;
  padding-top: 1ex;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: row;
  float: left;

}
.index_logo img{
  height: 5em;
  padding: 2ex;
  align-items: center;
  justify-content: center;

}
.index_logo span {
  font-size: 10px;
}
.card_logo img{
  height: 3em;

}
.control_button {
    margin: auto;
    display: inline-block;
    padding: 0.75rem 1rem;
      border: 0;
      border-radius: 0.317rem;
      background-color: var(--theme-one);
      color: #ffff;
      text-decoration: none;
      font-weight: 700;
      font-size: 1rem;
    line-height: 1.5;
      cursor: pointer;
      -webkit-appearance: none;
      -webkit-font-smoothing: antialiased;
      
}

.control_button:hover {
    margin: auto;
    display: inline-block;
    padding: 0.75rem 1rem;
      border: 0;
      border-radius: 0.317rem;
      background-color: var(--theme-three);

      text-decoration: none;
      font-weight: 700;
      font-size: 1rem;
    line-height: 1.5;
      cursor: pointer;
      -webkit-appearance: none;
      -webkit-font-smoothing: antialiased;
}

#float_container {
    width: 100%;
    height: 100%;
    padding-top: 0ex;


}
.card_wrapper {
  padding: 5ex;
  padding-top: 0ex;
}

.float_child {
    height: 100%;
    float: left;  
    padding-top: 0px;

}
.row.display-flex {
  display: flex;
  flex-wrap: wrap;
}
.row.display-flex > [class*='col-'] {
  display: flex;
  flex-direction: column;

}

#lang_one_block, #lang_two_block {
    height: 100%;
    padding: 5ex;
    background-color: white;
    border-radius: 2em;
    text-align: left;
    -webkit-box-shadow: 0 10px 6px -6px #696969;
    -moz-box-shadow: 0 10px 6px -6px #696969;
         box-shadow: 0 10px 6px -6px #696969;
         
}
.col-md-4 {
  margin-bottom: 2ex !important;
}

h1, h2, h3, p {
    margin-bottom:1ex;
}


.button {
	display: inline-block;
  margin: 0;
  padding: 0.75rem 1rem;
	border: 0;
	border-radius: 0.317rem;
	background-color:var(--theme-one);
	color: #fff;
	text-decoration: none;
	font-weight: 700;
	font-size: 1rem;
  line-height: 1.5;
	cursor: pointer;
	-webkit-appearance: none;
	-webkit-font-smoothing: antialiased;
}


.button:active {
	box-shadow: inset 0 3px 4px hsla(0, 0%, 0%, 0.2);
}

#subject_form {
    position: relative;;
    top:5ex;
    right:0;
    left:0;
}

#subject_name {
  color: var(--theme-one);
}

#subject_name_sp {
  color: var(--theme-one);
}

h3 {
    text-align: right;
}

.float_radio {
  padding: 2ex;
  display: flex;
  flex-direction: row;
}
.radio_column {
  flex: 1;
}

#tags > span{
  cursor:pointer;
  display:block;
  float:left;
  color: var(--theme-four);
  background:#fff;
  padding:10px;
  padding-right:25px;
  margin:4px;
  border-radius: 2em;
}
#tags > span:hover{
  opacity:0.7;
}
#tags > span:after{
 position:absolute;
 content:"x";
 padding:3px 5px;
 margin-left:3px;
 font-size:14px;
 color: var(--theme-three);
}

.logo {
  height: 7%;
  margin: 1em;
}

.logo img {
  height: 100%;
}

@keyframes click-wave {
  0% {
    height: 40px;
    width: 40px;
    opacity: 0.35;
    position: relative;
  }
  100% {
    height: 200px;
    width: 200px;
    margin-left: -80px;
    margin-top: -80px;
    opacity: 0;
  }
}

.option-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  position: relative;
  top: 13.33333px;
  right: 0;
  bottom: 0;
  left: 0;
  height: 40px;
  width: 40px;
  transition: all 0.15s ease-out 0s;
  background: var(--theme-four);
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  margin-right: 0.5rem;
  outline: none;
  position: relative;
  z-index: 1000;
}
.option-input:hover {
  background: var(--theme-one);
}
.option-input:checked {
  background: var(--theme-two);
}
.option-input:checked::before {
  height: 40px;
  width: 40px;
  position: absolute;
  content: '✔';
  display: inline-block;
  font-size: 26.66667px;
  text-align: center;
  line-height: 40px;
}
.option-input:checked::after {
  -webkit-animation: click-wave 0.65s;
  -moz-animation: click-wave 0.65s;
  animation: click-wave 0.65s;
  background: var(--theme-two);
  content: '';
  display: block;
  position: relative;
  z-index: 100;
}
.option-input.radio {
  border-radius: 50%;
}
.option-input.radio::after {
  border-radius: 50%;
}
/*Checkbox styling from https://codepen.io/wilder_taype/pen/pNXwMW*/
.light_input:focus {
  animation: none;
  border-width: 4px;
  border-color: var(--theme-one);
  border-style: solid;
}
.light_input {
  border-radius: 1ex;
  border-width: 0;
  background-color: white;
  line-height: 40px;
  width: 200pt;
  padding: 5pt;
  color:var(--theme-four);
  animation: pulse_dark 1.5s infinite;

}
.dark_input {
  border-radius: 1ex;
  border-width: 0;
  background-color: var(--theme-four);
  line-height: 40px;
  width: 200pt;
  padding: 5pt;
  color: white;
  animation: pulse_dark 1.5s infinite;

}



.dark_input:focus {
  animation: none;
  border-width: 4px;
  border-color: var(--theme-one);
  border-style: solid;
}
.cust_btn {
  width: 100%;
  text-align: right;
}
.roles div, .roles_btn {
  width: 100%;
  text-align: right;
}



.dark_input::placeholder {
   /* Chrome, Firefox, Opera, Safari 10.1+ */
  color:white;
  opacity: 1; /* Firefox */
}

@keyframes pulse_dark {
	0% {
		transform: scale(1);
		box-shadow: 0 0 0 0 var(--theme-one);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(249, 66, 96, 0);
	}

	100% {
		transform: scale(1);
		box-shadow: 0 0 0 0 rgba(249, 66, 96, 0);
	}
}

.pulse_anim {
  animation: pulse_dark 1.5s infinite;
}
.shuffle_btn button {
  background-color: var(--theme-two);
  color: var(--theme-four);

}
.shuffle_btn button:hover {
  color: var(--theme-four);


}
button {
  outline: none !important;
}


/* MAINPAGE TABS, inspired by https://codepen.io/celcarpe/pen/VwZrJpj */
.tabs {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  color: #2f405a;
  text-align: left;
}
 
.tabs label {
  color: #fff;

  order: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
  margin-right: 0.2rem;
  cursor: pointer;
  background-color: var(--theme-four);
  font-weight: bold;
  transition: background ease 0.3s;
}
 
.tabs .tab {
  order: 9;
  flex-grow: 1;
  width: 100%;
  height: 100%;
  display: none;
  padding: 1rem;
  background: #fff;
  padding: 20px;
}
 
.tabs input[type="radio"] {
  display: none;
}
 
.tabs input[type="radio"]:checked + label {
  background: var(--theme-one);
}
 
.tabs input[type="radio"]:checked + label + .tab {
  display: block;
}
 
@media (max-width: 465px) {
  .tabs .tab,
  .tabs label {
   order: initial;
  }
 
  .tabs label {
    width: 100%;
    margin-left: 50px;
  }
}
 
